/*

	Filename:	style.css
	Purpose:	
	Author:		EVGENI C. DOBRANOV
	Date:		3/12/2016

*/

/* Background image for the whole page (<body> tag)
body {
	background-image: url('images/background.jpg');
} */

/* Absolutely necessary for Google Maps version 3 */
html {
	height: 100%
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map {
	height: 100%;
}