/*

	Filename:	style.css
	Purpose:	Mostly styling for the map in index.html
	Author:		EVGENI C. DOBRANOV
	Date:		3/12/2016

*/

html {
	height: 100%
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map {
	height: 100%;
}