/*
	Filename:	style.css
	Purpose:	Some simple styling for index.html
	Author:		EVGENI C. DOBRANOV
	Date:		3/5/2016
*/

/* General styling for the heading */
h1 {
	font-family: Courier New;
	font-weight: bold;
	letter-spacing: 3px;
	color: #9999ff
}

/* General styling for the messages */
#boxed {
	font-family: Helvetica;
	border-radius: 14px;
	border: 3px solid #9999ff;
	padding: 3px;
	font-weight: bold;
	font-size: 24px;
	line-height: 200%
}

/* Specific for the smaller part at the end (the username) */
#small {
	font-size: 16px;
}