/*
	Filename:	style.css
	Purpose:	Some simple styling for index.html
	Author:		EVGENI C. DOBRANOV
	Date:		3/5/2016
*/

/* Styling for the messages */
#boxed {
	font-family: Helvetica;
	border-radius: 14px;
	border: 3px solid #9999ff;
	padding: 3px;
	font-weight: bold;
	font-size: 24px;
}

#small {
	font-size: 16px;
}